__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*.log
*/*.log
geckodriver
config*.py
*/config*.py
/db/rewards.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
virt